.navbar {
    background-color: #f06292;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-list li {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-list li:hover {
    color: #ffeb3b;
  }
  