.imagen{
    width: 110%;
    margin-top: 11%;
    margin-left: -80px;
    
}

 .slider-box {
    width: 920px;
    margin: 0px auto 0px;
    margin-right: -8%;
}


.slider-box ul{
    display: flex;
    height:100%;
    width: 310%;
    animation: slide 20s infinite alternate ease-in-out;
}


.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
} 

 @keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    
}  