
.Content_categories {
    margin-top: 20px;
   
}
.imagenes{
    width: 130px;
    border-radius: 5px;
    display: inline-block;
    margin: 25px;
    height: 200px;
}
button{
    text-decoration: none;
    padding: 15px;
    background-color: #92644F;
    border-style: none;
    border-radius: 5px;
    display: inline-block;
    margin: 40px;
    margin-left: 5%;
    color: white;
    width: 90px;
    margin-bottom: 2px;
    cursor: pointer;
}
 .boton{
    background-color: #E4B1F0;
    cursor: pointer;
}
